<div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">

        </div>
        <div class="media-content">
          <p class="title is-4"><%=fweet['subject']%></p>
          <p class="subtitle is-6">Posted on: <%=fweet['postedOn'].substring(0,10)%></p>
        </div>
      </div>
  
      <div class="content">
        <div class="post-content">
                <%=fweet['message']%> 
        </div>
      </div>
      <div class="social-buttons has-text-right">
        <a style="color: gray" href=""><i class="fas fa-heart fa-2x"></i></a>
      </div>
    </div>
  </div>