<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fwitter: Fedoras Unite</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/css/logged_in_profile.css">
    <script src="https://kit.fontawesome.com/f3d54ff954.js" crossorigin="anonymous"></script>
</head>
<body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                  </a>
              
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-start">
                    <a href="/home" class="navbar-item">
                      Home
                    </a>
                    <a href="/profile" class="navbar-item">
                      Profile
                    </a>
                    <form id="searchForm" action="/" method="GET">
                        <div class="navbar-item">
                            <input type="text" class="input" placeholder="Search by username">
                        </div>
                        <div class=navbar-item>
                            <button disabled class="button" type="submit">Search</button>
                          </div>
                      </form>
                  </div>
              
                  <div class="navbar-end">
                    <% if(!passedSessionUser) {%>
                    <div class="navbar-item">
                      <a class="button is-primary" href="/signup">Signup</a>
                    </div>
                    <div class="navbar-item">
                        <a class="button is-primary" href="/login">Login</a>
                      </div>
                      <% } else {%>
                        <div class="navbar-item">
                          <a class="button is-primary" href="/fweet">Fweet</a>
                        </div>
                        <div class="navbar-item">
                          <a class="button is-primary" href="/logout">Logout</a>
                        </div>
                        <% } %>
                  </div>
                </div>
              </nav>