
<div class="container">
  <div class="columns">

    <div class="column"></div>
    <div class="column">

      <form action="/login" method="POST">
        <div class="columns">
          <div class="column">
            <h2 class="title is-3 has-text-centered">Login</h2>
          </div>
        </div>
        <div class="columns">
          <div class="column">
  
          </div>
          <div class="column">
            <div class="field">
                <label class="active" for="user_name">Username</label>
              <div class="control">
                  <input id="user_name" class="input" name="username" type="text">
              </div>
            </div>

          </div>
          <div class="column">
  
          </div>
        </div>
        <div class="columns">
          <div class="column">
  
          </div>
          <div class="column">
            <div class="field">
                <label class="active" for="password">Password</label>
                <div class="control">
                    <input id="password" class="input" name="password" type="password">
                </div>
            </div>
          </div>
          <div class="column">
  
          </div>
        </div>
        <div class="columns">
          <div class="column">
  
          </div>
          <div class="">
            <button class="button is-primary" type="submit" name="login">Login</button>
            <a id="register" href="/signup">Don't have an account? Sign up!</a>
          </div>
          <div class="column">
  
          </div>
        </div>
      </form>

    </div>
    <div class="column"></div>


  </div>

</div>