<% include ./partials/header%>

<div class="container">

<div class="columns">
  <div class="column"></div>
  <div class="column">
      <h2 class="title is-3 has-text-centered">Fweet</h2>
      <form action="/fweet" method="POST">
        <div class="container">
            <div class="field">
                <label class="label">Subject</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Topic">
                </div>
            </div>
            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="control">
                <button disabled class="button is-primary">Fweet</button>
              </div>    
            </div>
    </form>

  </div>
  <div class="column"></div>

</div>

</div>

<% include ./partials/footer%>