<% include ./partials/header.ejs%>

<h2>Welcome to Fwitter</h2>
<h4>For those of us who wear fedoras.</h4>


<!-- TODO: Add logout -->


<% if(user) { %>
    You are logged on!
    <a class="button" href="/logout">Logout</a>
<% } else { %>
    <% include ./partials/login.ejs%>
<%}%>


<% include ./partials/footer.ejs%>
