<% include ./partials/header %>

<div class="container"> 
    <div class="columns">
        <div class="column is-7 has-text-centered">
          <% include ./partials/profile %>
        </div>
        <div class="column is-5 has-text-centered">

        </div>
    </div>
</div>

<% include ./partials/footer %>